body {
    text-align: center;
    background-color: rgb(219, 201, 219);
    /* thistle */
}

.board-container {
    margin-top: 10px;
    background-color: rgb(194, 229, 227);
    width: 60%;
    height: 300px;
    text-align: center;
    margin: auto;
    border: 5px solid rgb(218, 215, 88);
}

.board-container td {
    width: 30px;
    height: 30px;
}

.board-container td:hover {
    background-color: rgb(218, 215, 88);
}

h1 {
    font-size: 40px;
}

.game-over {
    color: black;
    background-color: grey;
    width: 200px;
    height: 40px;
    margin: auto;
    display: none;
}

.easy {
    background-color: rgb(218, 215, 88);
    border-radius: 30%;
    border: 2px solid rgb(194, 229, 227);
}

.hard {
    background-color: rgb(218, 215, 88);
    border-radius: 30%;
    border: 2px solid rgb(194, 229, 227);
}

.legendary {
    background-color: rgb(218, 215, 88);
    border-radius: 30%;
    border: 2px solid rgb(194, 229, 227);
}

.easy:hover {
    background-color: yellow;
    border-radius: 30%;
}

.hard:hover {
    background-color: yellow;
    border-radius: 30%;
}

.legendary:hover {
    background-color: yellow;
    border-radius: 30%;
}